@tailwind base;
@tailwind utilities;
@tailwind components;


.shadow-green-light {
    box-shadow: 0 0 2px 1px rgba(34, 197, 94, 0.2); /* Brilho mais sutil */
}

.underline-effect {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
  
.underline-effect::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Espessura do underline */
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
}

.underline-effect:hover::after {
    width: 100%;
    left: 0;
}

/* Adicione essa parte ao seu CSS global ou em um arquivo de estilo apropriado */

/* Definindo a animação */
/* global.css */
@keyframes moveCard {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-moveCard {
    animation: moveCard 0.3s ease-in-out;
  }

  /* Contorno suave da borda */
.rounded-r-lg {
  border-radius: 0 20px 20px 0; /* Borda arredondada apenas à direita */
}




/* Menu item estilo inicial */
.sidebar-item {
  position: relative;
  overflow: hidden;
}

/* Fundo de destaque animado */
.sidebar-item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(96, 165, 250, 0.2); /* Azul suave e translúcido */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease;
  z-index: 0;
}

.sidebar-item.is-active::after {
  width: 200%; 
  height: 200%;
  transition: width 0.3s ease, height 0.3s ease;
}


@keyframes organicSlide {
  0% {
    transform: translate(0, 3px);
  }
  50% {
    transform: translate(0, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.sidebar-item.is-active {
  animation: organicSlide 0.3s ease-in-out forwards;
}

/* Texto no topo */
.sidebar-item span {
  position: relative;
  z-index: 1;
}

